[Unit]
Description=Run gentoo-updater on a schedule
Documentation=https://github.com/gabethomson/gentoo-updater

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
